.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkblue;
    color: white;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .username {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .logout-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .chat-messages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .own-message {
    text-align: right;
    color: rgb(246, 255, 161);
  }
  
  .chat-input-form {
    display: flex;
  }
  
  .chat-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .send-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .connection-status {
    color: red;
    text-align: center;
    margin-top: 10px;
  }