.fileUploadContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .fileUploadButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06005c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fileUploadButton:hover {
    background-color: #0056b3;
  }
  
  .fileInput {
    display: none; /* Hide the default file input */
  }
  
  .fileName {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
  }