/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000001; /* Dark Blue */
  color: white;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}
